/* styles.css */
body {
    background-image: url("https://wallpaperaccess.com/full/7333590.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f2f2f2;
    text-align: center;
    color: black;
}

